#blue-bar{
    background-color: blue;
    height: 50px;
    color: white;
}

#search-box{
    width: 440px;
    height: 20px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 11px;

}

#profile{
    margin-top: -254px;
    border-radius: 50%;
    border: solid 2px white;
    width: 265px;
    
}

#menu-btn{
    display: inline-block;
    margin: 2px;
    width: 100px;
}


#friends_img{
    width: 75px;
    height: 75px;
    float:left;
    margin: 8px;

}

#friends_bar{
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: #aaa;
    padding: 8px;
}
#friends{
    
    clear:both;
    font: size 12px;
    font-weight: bold;
    color: #405d9b
}

textarea{

    width: 482px;
    border:none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;

}

#post_button{

    float:right;
    background-color: #405d9b;
    border:none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}
#post_bar{
     margin-top: 20px;
     background-color: white;
     padding: 10px;
}

#post{
    padding: 4px;
    font-size: 13px;
    display: flex;
    margin-bottom: 20px;

}